
#map {
    height: 800px;
    z-index: 1;
    width: 80%;
}

form {
    padding: 20px;
    width: 15%;
    height: 10%;
    margin: 0 auto;
    font-size: 0.75em;
}

ul {
    list-style-type: none;
    position: absolute;
    right: 2%;
    top: 0%;
    background-color: #333;
    color: white;
    width: 15%;
    max-width: 150px;
}

li {
    display: inline;
    text-align: center;
    margin: 2%;
}

li:hover:not(.active) {
    background-color: rgb(81, 18, 122);
}

.active {
    background-color: #04AA6D;
}

#add{
    position: absolute;
    right: 0%;
    top: 10%;
}
#edit{
    position: absolute;
    right: 0%;
    top: 10%;
}

#del{
    position: absolute;
    right: 0%;
    top: 10%;
}

form h1{
    font-size: 1em;
    margin: 0;
    color: #9b9b8d;
}

form label, form input{
    box-sizing: border-box;
    display: block;
    width: 100%;


}

#add input[type=button]{
    background: #249120;
    color: #fff;
    border: 0;
    cursor: pointer;
}

#del input[type=button]{
    background: #ad4343;
    color: #fff;
    border: 0;
    cursor: pointer;
}

#edit input[type=button]{
    background: #c99a34;
    color: #fff;
    border: 0;
    cursor: pointer;
}